@use '../../styles/helpers' as *;

.dealers {
  &__inner {}

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'price original warranty';
    gap: rem(12);
    margin-bottom: rem(48);

    @include tablet {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'price original' 'warranty warranty';
    }

    @include mobile {
      grid-template-columns: 1fr;
      grid-template-areas: 'price' 'original' 'warranty';
      margin-bottom: rem(24);
    }
  }

  & .callout {
    &__head {
      font-size: rem(20);

      @include laptop {
        @include fluid-text(20, 16);
      }
    }

    &::before {
      content: '';
      display: inline-block;
      width: rem(36);
      height: rem(36);
      flex-shrink: 0;
      background-color: var(--color-accent);
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
    }

    @include hover {
      &::before {
        scale: 1.2;
      }
    }

    &:nth-child(1) {
      @include tablet {
        grid-area: price;
      }

      &::before {
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath d='M10.801 30V27.0127H7.5V23.9576H10.801V21.4455H7.5V18.2885H10.801V6H19.4749C20.8562 6 22.097 6.13578 23.1973 6.40735C24.2977 6.67892 25.2341 7.12023 26.0067 7.73126C26.8027 8.34229 27.4114 9.13437 27.8328 10.1075C28.2776 11.0806 28.5 12.2574 28.5 13.6379C28.5 15.4484 28.102 16.9307 27.306 18.0849C26.51 19.239 25.4214 20.0877 24.0401 20.6308C22.6589 21.174 21.102 21.4455 19.3696 21.4455H14.5234V23.9576H22.7057V27.0127H14.5234V30H10.801ZM14.5234 18.2885H19.2291C20.2592 18.2885 21.1839 18.1414 22.0033 17.8472C22.8462 17.553 23.5134 17.0665 24.005 16.3876C24.5201 15.686 24.7776 14.7808 24.7776 13.6719C24.7776 12.0877 24.3328 10.9675 23.4431 10.3112C22.5535 9.63225 21.2191 9.29279 19.4398 9.29279H14.5234V18.2885Z' fill='black'/%3E%3C/svg%3E");
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath d='M10.801 30V27.0127H7.5V23.9576H10.801V21.4455H7.5V18.2885H10.801V6H19.4749C20.8562 6 22.097 6.13578 23.1973 6.40735C24.2977 6.67892 25.2341 7.12023 26.0067 7.73126C26.8027 8.34229 27.4114 9.13437 27.8328 10.1075C28.2776 11.0806 28.5 12.2574 28.5 13.6379C28.5 15.4484 28.102 16.9307 27.306 18.0849C26.51 19.239 25.4214 20.0877 24.0401 20.6308C22.6589 21.174 21.102 21.4455 19.3696 21.4455H14.5234V23.9576H22.7057V27.0127H14.5234V30H10.801ZM14.5234 18.2885H19.2291C20.2592 18.2885 21.1839 18.1414 22.0033 17.8472C22.8462 17.553 23.5134 17.0665 24.005 16.3876C24.5201 15.686 24.7776 14.7808 24.7776 13.6719C24.7776 12.0877 24.3328 10.9675 23.4431 10.3112C22.5535 9.63225 21.2191 9.29279 19.4398 9.29279H14.5234V18.2885Z' fill='black'/%3E%3C/svg%3E");

        @include laptop {
          width: fluid(36, 28);
          height: fluid(36, 28);
        }
      }
    }

    &:nth-child(2) {
      @include tablet {
        grid-area: original;
      }

      &::before {
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.6608 0.0153887C17.9581 -0.00383825 18.2357 -0.0270111 18.5147 0.096099C18.9848 0.303726 19.3706 0.766036 19.7815 1.07653C20.4782 1.6031 21.3443 1.97625 22.1636 2.26365C23.9108 2.87633 25.8502 3.15592 27.6976 3.25277C28.5583 3.29796 31.9391 3.10693 32.3534 3.27925C32.5943 3.37941 32.72 3.56943 32.8072 3.80345C32.9014 4.0554 32.9407 4.31971 32.9552 4.58715C33.0328 6.03361 32.9391 7.50876 32.9511 8.95896C32.9721 11.5042 33.0509 14.0677 32.9716 16.612C32.9511 17.4274 32.8884 18.241 32.7838 19.0498C31.6853 27.29 25.8007 33.1003 18.2874 35.9927C17.4181 36.0947 15.8429 35.1018 15.048 34.6767C10.9096 32.4628 7.31482 29.0981 5.04403 24.97C4.24109 23.4994 3.68058 21.9089 3.38414 20.2597C3.23636 19.3721 3.14051 18.4766 3.09717 17.5779C3.01883 15.8809 2.88473 4.71974 3.15448 3.88149C3.27128 3.5182 3.49708 3.3542 3.85649 3.26538C4.76789 3.03997 6.03442 3.31601 6.99088 3.34931C7.57228 3.36954 8.15668 3.3377 8.73736 3.30685C11.1609 3.17843 13.7253 2.63481 15.8134 1.34389C16.4631 0.942272 16.9705 0.36018 17.6608 0.0153887ZM18.0123 3.02241C14.0235 5.66568 10.3052 5.99375 5.64081 5.96735L5.60788 13.7172C5.60357 16.5506 5.46172 19.6146 6.56225 22.3071C8.37533 26.7431 12.5014 30.3223 16.6118 32.6233C16.98 32.8294 17.6621 33.2306 18.0459 33.2899C22.9448 31.1933 27.1629 27.9242 29.1925 22.8174C29.7273 21.4671 30.0942 20.0564 30.2852 18.6167C30.5212 16.8563 30.4792 14.9506 30.476 13.1688C30.4745 10.7207 30.4583 8.27268 30.4274 5.82471C26.7707 5.83604 23.0394 5.65959 19.6997 3.92227C19.4154 3.77433 18.2456 3.06976 18.0123 3.02241Z' fill='black'/%3E%3Cpath d='M21.1819 14.3039C21.6895 14.3252 22.1318 14.3807 22.5012 14.7414C23.6821 15.8939 21.7907 17.4871 21.0843 18.2696L18.6462 20.976C17.3695 22.4022 16.1273 23.8606 14.8178 25.2577C14.5783 25.6269 13.4762 25.7668 13.1565 25.476C12.0512 24.4701 10.726 22.9493 9.75044 21.8522C8.86198 20.8351 7.16714 19.5964 8.53599 18.196C8.9795 17.7421 9.86293 17.8512 10.2872 18.2218C11.5331 19.3107 12.6417 20.7229 13.8218 21.8871C16.1028 19.5618 18.1998 16.9987 20.4744 14.6711C20.6672 14.4738 20.9248 14.3808 21.1819 14.3039Z' fill='black'/%3E%3Cpath d='M23.2701 17.224C26.4798 22.0907 22.9134 27.8882 17.2798 26.5748C16.5614 26.3505 16.1849 26.1914 15.5608 25.7705C18.0436 22.9261 20.8661 20.1013 23.2701 17.224Z' fill='black'/%3E%3Cpath d='M17.9523 9.02225C18.1723 9.25053 20.1035 12.9866 20.3228 13.4604C18.4001 15.4993 16.4998 17.5593 14.6225 19.6401C14.3377 19.9676 14.0774 20.2433 13.7753 20.5548C13.4633 20.2629 13.2423 20.0635 13.0091 19.7C13.2506 17.2713 14.7767 14.8489 15.9536 12.718C16.629 11.491 17.2953 10.2591 17.9523 9.02225Z' fill='black'/%3E%3Cpath d='M23.002 8.04339C23.0808 8.0454 23.1311 8.04497 23.2147 8.05688C26.7118 8.55979 29.3458 11.6912 29.2132 15.2251C29.1987 15.6122 28.9614 15.8147 28.6823 16.0348C27.8052 15.8627 27.941 15.2366 27.9046 14.4882C27.8594 13.4828 27.5279 12.5111 26.9491 11.6879C25.9726 10.3026 24.569 9.62617 22.9407 9.33016C22.4427 8.76569 22.4172 8.54315 23.002 8.04339Z' fill='black'/%3E%3Cpath d='M22.9497 10.8346C24.5929 11.063 25.9811 12.3029 26.3299 13.9305C26.4377 14.4337 26.6117 15.1217 26.0217 15.3312L25.8886 15.3858C25.4157 15.3657 25.2717 15.3614 25.1967 14.7909C25.1377 14.3435 25.0831 13.9863 24.8809 13.5735C24.5051 12.8065 23.8841 12.3624 23.0674 12.1532C22.8803 12.1056 22.6111 12.0466 22.5018 11.8416C22.2973 11.3124 22.5884 11.0507 22.9497 10.8346Z' fill='black'/%3E%3C/svg%3E");
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.6608 0.0153887C17.9581 -0.00383825 18.2357 -0.0270111 18.5147 0.096099C18.9848 0.303726 19.3706 0.766036 19.7815 1.07653C20.4782 1.6031 21.3443 1.97625 22.1636 2.26365C23.9108 2.87633 25.8502 3.15592 27.6976 3.25277C28.5583 3.29796 31.9391 3.10693 32.3534 3.27925C32.5943 3.37941 32.72 3.56943 32.8072 3.80345C32.9014 4.0554 32.9407 4.31971 32.9552 4.58715C33.0328 6.03361 32.9391 7.50876 32.9511 8.95896C32.9721 11.5042 33.0509 14.0677 32.9716 16.612C32.9511 17.4274 32.8884 18.241 32.7838 19.0498C31.6853 27.29 25.8007 33.1003 18.2874 35.9927C17.4181 36.0947 15.8429 35.1018 15.048 34.6767C10.9096 32.4628 7.31482 29.0981 5.04403 24.97C4.24109 23.4994 3.68058 21.9089 3.38414 20.2597C3.23636 19.3721 3.14051 18.4766 3.09717 17.5779C3.01883 15.8809 2.88473 4.71974 3.15448 3.88149C3.27128 3.5182 3.49708 3.3542 3.85649 3.26538C4.76789 3.03997 6.03442 3.31601 6.99088 3.34931C7.57228 3.36954 8.15668 3.3377 8.73736 3.30685C11.1609 3.17843 13.7253 2.63481 15.8134 1.34389C16.4631 0.942272 16.9705 0.36018 17.6608 0.0153887ZM18.0123 3.02241C14.0235 5.66568 10.3052 5.99375 5.64081 5.96735L5.60788 13.7172C5.60357 16.5506 5.46172 19.6146 6.56225 22.3071C8.37533 26.7431 12.5014 30.3223 16.6118 32.6233C16.98 32.8294 17.6621 33.2306 18.0459 33.2899C22.9448 31.1933 27.1629 27.9242 29.1925 22.8174C29.7273 21.4671 30.0942 20.0564 30.2852 18.6167C30.5212 16.8563 30.4792 14.9506 30.476 13.1688C30.4745 10.7207 30.4583 8.27268 30.4274 5.82471C26.7707 5.83604 23.0394 5.65959 19.6997 3.92227C19.4154 3.77433 18.2456 3.06976 18.0123 3.02241Z' fill='black'/%3E%3Cpath d='M21.1819 14.3039C21.6895 14.3252 22.1318 14.3807 22.5012 14.7414C23.6821 15.8939 21.7907 17.4871 21.0843 18.2696L18.6462 20.976C17.3695 22.4022 16.1273 23.8606 14.8178 25.2577C14.5783 25.6269 13.4762 25.7668 13.1565 25.476C12.0512 24.4701 10.726 22.9493 9.75044 21.8522C8.86198 20.8351 7.16714 19.5964 8.53599 18.196C8.9795 17.7421 9.86293 17.8512 10.2872 18.2218C11.5331 19.3107 12.6417 20.7229 13.8218 21.8871C16.1028 19.5618 18.1998 16.9987 20.4744 14.6711C20.6672 14.4738 20.9248 14.3808 21.1819 14.3039Z' fill='black'/%3E%3Cpath d='M23.2701 17.224C26.4798 22.0907 22.9134 27.8882 17.2798 26.5748C16.5614 26.3505 16.1849 26.1914 15.5608 25.7705C18.0436 22.9261 20.8661 20.1013 23.2701 17.224Z' fill='black'/%3E%3Cpath d='M17.9523 9.02225C18.1723 9.25053 20.1035 12.9866 20.3228 13.4604C18.4001 15.4993 16.4998 17.5593 14.6225 19.6401C14.3377 19.9676 14.0774 20.2433 13.7753 20.5548C13.4633 20.2629 13.2423 20.0635 13.0091 19.7C13.2506 17.2713 14.7767 14.8489 15.9536 12.718C16.629 11.491 17.2953 10.2591 17.9523 9.02225Z' fill='black'/%3E%3Cpath d='M23.002 8.04339C23.0808 8.0454 23.1311 8.04497 23.2147 8.05688C26.7118 8.55979 29.3458 11.6912 29.2132 15.2251C29.1987 15.6122 28.9614 15.8147 28.6823 16.0348C27.8052 15.8627 27.941 15.2366 27.9046 14.4882C27.8594 13.4828 27.5279 12.5111 26.9491 11.6879C25.9726 10.3026 24.569 9.62617 22.9407 9.33016C22.4427 8.76569 22.4172 8.54315 23.002 8.04339Z' fill='black'/%3E%3Cpath d='M22.9497 10.8346C24.5929 11.063 25.9811 12.3029 26.3299 13.9305C26.4377 14.4337 26.6117 15.1217 26.0217 15.3312L25.8886 15.3858C25.4157 15.3657 25.2717 15.3614 25.1967 14.7909C25.1377 14.3435 25.0831 13.9863 24.8809 13.5735C24.5051 12.8065 23.8841 12.3624 23.0674 12.1532C22.8803 12.1056 22.6111 12.0466 22.5018 11.8416C22.2973 11.3124 22.5884 11.0507 22.9497 10.8346Z' fill='black'/%3E%3C/svg%3E");

        @include laptop {
          width: fluid(36, 28);
          height: fluid(36, 28);
        }
      }
    }

    &:nth-child(3) {
      @include tablet {
        grid-area: warranty;
        max-width: rem(650);
        justify-self: center;
      }

      @include mobile {
        max-width: 100%;
      }

      &::before {
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath d='M28.0998 20.2551C28.9996 20.1915 29.6088 20.2497 30.4283 20.67C29.8703 21.0524 27.9585 22.0146 27.745 22.4914C27.6761 22.6452 27.6991 22.7889 27.7607 22.9408C27.8671 23.203 28.3804 24.1344 28.5509 24.3658C28.644 24.4921 28.7835 24.6395 28.9332 24.6943C29.5907 24.935 31.3385 23.5244 32.0121 23.1969L32.0625 23.1728C31.9585 25.6198 29.8265 27.7543 27.366 26.5468C26.6432 26.1922 26.3118 25.7816 25.453 26.1547C24.4024 26.6112 23.3467 27.0546 22.3005 27.5116L17.3888 29.6292L14.1278 31.0023C13.5863 31.2284 12.3594 31.6343 11.9538 31.9768C11.4011 32.4435 11.6054 34.2692 10.1203 35.3764C9.25312 36.023 8.09479 36.0851 7.06864 35.9267C6.44461 35.7772 5.70166 35.4778 5.17796 35.1016C6.17195 34.594 7.60286 34.1902 8.61321 33.6895C8.7596 33.4391 8.77916 33.3457 8.85131 33.0737C8.73853 32.6027 8.29577 31.7296 8.11283 31.2377C7.93395 30.7568 7.77918 30.5155 7.32174 30.3304C6.56274 30.524 4.71015 31.2826 3.9375 31.6005C4.3892 30.1058 4.94793 28.8421 6.46193 28.282C7.89915 27.7237 9.37061 28.1543 10.5368 29.1115C11.2909 29.7302 12.4003 29.0476 13.1978 28.7059L15.5966 27.6716C17.7926 26.7098 19.9932 25.7592 22.1986 24.8197C23.0985 24.4359 23.9578 24.037 24.871 23.6757C25.403 22.9597 25.1641 22.186 25.8021 21.3878C26.414 20.6225 27.1678 20.374 28.0998 20.2551Z' fill='black'/%3E%3Cpath d='M17.0247 0C17.1777 0.0129469 18.5351 1.08875 18.8069 1.28215C19.3059 1.63657 19.8188 1.97043 20.3445 2.28278C23.0471 3.91068 25.8872 5.06781 29.0175 5.44157C28.9618 7.79442 29.0264 10.2531 29.0213 12.6153C29.0157 15.1661 29.0636 16.9488 28.5108 19.4566C27.8852 19.4795 27.613 19.4782 27.0324 19.7009C27.7291 17.1167 27.6289 15.1767 27.6258 12.5328L27.6201 6.65599C23.4409 5.72487 20.5982 4.28121 17.0783 1.77809C13.9527 3.99646 10.9176 5.62275 7.17469 6.50289L6.46997 6.64142L6.4754 14.3943C6.4857 19.2057 7.65736 22.5259 10.9093 26.1817C11.5519 26.9041 12.1417 27.4054 12.8027 28.0727L11.428 28.6722C11.1098 28.435 10.8148 28.1483 10.5324 27.8652C7.74524 25.0726 5.71688 21.2265 5.2224 17.2679C5.0397 15.8049 5.11122 13.8085 5.1109 12.2958L5.09892 5.43777C8.5997 5.11094 12.2301 3.38262 15.1338 1.43613C15.7499 1.02313 16.4364 0.465602 17.0247 0Z' fill='black'/%3E%3Cpath d='M10.1084 21.2046L23.888 21.1968C23.8887 21.893 23.8816 22.5893 23.8665 23.2854C23.092 23.6823 21.7175 24.2334 20.8883 24.5729C20.415 24.7508 19.9193 24.9893 19.4507 25.1917C17.4857 26.0403 15.5308 26.8992 13.5524 27.7165C12.2923 26.4794 11.3105 25.582 10.0954 24.2371L10.1084 21.2046Z' fill='black'/%3E%3Cpath d='M15.196 15.4361L18.7947 15.421C18.8028 15.6984 18.8571 15.996 18.6894 16.2016C18.5684 16.2373 18.5465 16.2351 18.4442 16.3124C18.3611 16.4481 18.3739 16.6625 18.3671 16.8308C19.952 17.0543 21.5507 17.4307 22.8506 18.453C23.6091 19.0495 23.7824 19.6334 23.8798 20.5583C22.1919 20.5362 20.4705 20.5543 18.7803 20.5574L10.0918 20.5556C10.1429 19.9783 10.2197 19.4427 10.6114 18.9855C11.8332 17.5593 13.8814 17.0485 15.6261 16.8496C15.6301 16.6823 15.6585 16.463 15.5804 16.3271C15.4622 16.2449 15.3346 16.2661 15.1844 16.2654C15.1767 15.9768 15.1851 15.7249 15.196 15.4361Z' fill='black'/%3E%3Cpath d='M17.0487 4.0828C17.3157 4.66824 17.5766 5.41512 17.8057 6.0241C18.0005 6.5419 18.2794 7.25058 18.405 7.77056C19.7139 7.8785 21.0255 7.94914 22.3383 7.98256C21.3423 8.85801 20.3373 9.72303 19.3235 10.5774C19.6182 11.8206 19.8866 13.2445 20.2125 14.4568C19.2368 13.8426 17.954 12.7882 17.0323 12.2689C16.9847 12.2896 16.2943 12.7761 16.2273 12.8228C15.4461 13.356 14.674 13.903 13.9115 14.4634C14.2384 13.2668 14.5087 11.7995 14.8001 10.5651C13.9902 9.91424 12.5127 8.6965 11.7666 7.98977C12.9111 7.96031 14.5489 7.89873 15.6698 7.77339C16.1515 6.53729 16.5189 5.32514 17.0487 4.0828Z' fill='black'/%3E%3Cpath d='M24.3086 27.4082L24.3268 27.4326C24.294 27.5926 23.7254 28.0932 23.5884 28.2307C22.0403 29.7832 20.2588 31.0626 18.3783 32.167C17.9512 32.4179 17.4007 32.787 16.9438 32.9437C16.4702 32.6804 15.9893 32.3746 15.5256 32.089C15.2822 31.9396 14.9798 31.7169 14.7399 31.5507C15.0109 31.3984 16.6144 30.6815 16.8651 30.6446L16.9365 30.7318C17.0549 30.7747 17.3354 30.5972 17.4543 30.5284C18.4321 29.9632 19.4423 29.5319 20.4746 29.0784L24.3086 27.4082Z' fill='black'/%3E%3C/svg%3E");
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath d='M28.0998 20.2551C28.9996 20.1915 29.6088 20.2497 30.4283 20.67C29.8703 21.0524 27.9585 22.0146 27.745 22.4914C27.6761 22.6452 27.6991 22.7889 27.7607 22.9408C27.8671 23.203 28.3804 24.1344 28.5509 24.3658C28.644 24.4921 28.7835 24.6395 28.9332 24.6943C29.5907 24.935 31.3385 23.5244 32.0121 23.1969L32.0625 23.1728C31.9585 25.6198 29.8265 27.7543 27.366 26.5468C26.6432 26.1922 26.3118 25.7816 25.453 26.1547C24.4024 26.6112 23.3467 27.0546 22.3005 27.5116L17.3888 29.6292L14.1278 31.0023C13.5863 31.2284 12.3594 31.6343 11.9538 31.9768C11.4011 32.4435 11.6054 34.2692 10.1203 35.3764C9.25312 36.023 8.09479 36.0851 7.06864 35.9267C6.44461 35.7772 5.70166 35.4778 5.17796 35.1016C6.17195 34.594 7.60286 34.1902 8.61321 33.6895C8.7596 33.4391 8.77916 33.3457 8.85131 33.0737C8.73853 32.6027 8.29577 31.7296 8.11283 31.2377C7.93395 30.7568 7.77918 30.5155 7.32174 30.3304C6.56274 30.524 4.71015 31.2826 3.9375 31.6005C4.3892 30.1058 4.94793 28.8421 6.46193 28.282C7.89915 27.7237 9.37061 28.1543 10.5368 29.1115C11.2909 29.7302 12.4003 29.0476 13.1978 28.7059L15.5966 27.6716C17.7926 26.7098 19.9932 25.7592 22.1986 24.8197C23.0985 24.4359 23.9578 24.037 24.871 23.6757C25.403 22.9597 25.1641 22.186 25.8021 21.3878C26.414 20.6225 27.1678 20.374 28.0998 20.2551Z' fill='black'/%3E%3Cpath d='M17.0247 0C17.1777 0.0129469 18.5351 1.08875 18.8069 1.28215C19.3059 1.63657 19.8188 1.97043 20.3445 2.28278C23.0471 3.91068 25.8872 5.06781 29.0175 5.44157C28.9618 7.79442 29.0264 10.2531 29.0213 12.6153C29.0157 15.1661 29.0636 16.9488 28.5108 19.4566C27.8852 19.4795 27.613 19.4782 27.0324 19.7009C27.7291 17.1167 27.6289 15.1767 27.6258 12.5328L27.6201 6.65599C23.4409 5.72487 20.5982 4.28121 17.0783 1.77809C13.9527 3.99646 10.9176 5.62275 7.17469 6.50289L6.46997 6.64142L6.4754 14.3943C6.4857 19.2057 7.65736 22.5259 10.9093 26.1817C11.5519 26.9041 12.1417 27.4054 12.8027 28.0727L11.428 28.6722C11.1098 28.435 10.8148 28.1483 10.5324 27.8652C7.74524 25.0726 5.71688 21.2265 5.2224 17.2679C5.0397 15.8049 5.11122 13.8085 5.1109 12.2958L5.09892 5.43777C8.5997 5.11094 12.2301 3.38262 15.1338 1.43613C15.7499 1.02313 16.4364 0.465602 17.0247 0Z' fill='black'/%3E%3Cpath d='M10.1084 21.2046L23.888 21.1968C23.8887 21.893 23.8816 22.5893 23.8665 23.2854C23.092 23.6823 21.7175 24.2334 20.8883 24.5729C20.415 24.7508 19.9193 24.9893 19.4507 25.1917C17.4857 26.0403 15.5308 26.8992 13.5524 27.7165C12.2923 26.4794 11.3105 25.582 10.0954 24.2371L10.1084 21.2046Z' fill='black'/%3E%3Cpath d='M15.196 15.4361L18.7947 15.421C18.8028 15.6984 18.8571 15.996 18.6894 16.2016C18.5684 16.2373 18.5465 16.2351 18.4442 16.3124C18.3611 16.4481 18.3739 16.6625 18.3671 16.8308C19.952 17.0543 21.5507 17.4307 22.8506 18.453C23.6091 19.0495 23.7824 19.6334 23.8798 20.5583C22.1919 20.5362 20.4705 20.5543 18.7803 20.5574L10.0918 20.5556C10.1429 19.9783 10.2197 19.4427 10.6114 18.9855C11.8332 17.5593 13.8814 17.0485 15.6261 16.8496C15.6301 16.6823 15.6585 16.463 15.5804 16.3271C15.4622 16.2449 15.3346 16.2661 15.1844 16.2654C15.1767 15.9768 15.1851 15.7249 15.196 15.4361Z' fill='black'/%3E%3Cpath d='M17.0487 4.0828C17.3157 4.66824 17.5766 5.41512 17.8057 6.0241C18.0005 6.5419 18.2794 7.25058 18.405 7.77056C19.7139 7.8785 21.0255 7.94914 22.3383 7.98256C21.3423 8.85801 20.3373 9.72303 19.3235 10.5774C19.6182 11.8206 19.8866 13.2445 20.2125 14.4568C19.2368 13.8426 17.954 12.7882 17.0323 12.2689C16.9847 12.2896 16.2943 12.7761 16.2273 12.8228C15.4461 13.356 14.674 13.903 13.9115 14.4634C14.2384 13.2668 14.5087 11.7995 14.8001 10.5651C13.9902 9.91424 12.5127 8.6965 11.7666 7.98977C12.9111 7.96031 14.5489 7.89873 15.6698 7.77339C16.1515 6.53729 16.5189 5.32514 17.0487 4.0828Z' fill='black'/%3E%3Cpath d='M24.3086 27.4082L24.3268 27.4326C24.294 27.5926 23.7254 28.0932 23.5884 28.2307C22.0403 29.7832 20.2588 31.0626 18.3783 32.167C17.9512 32.4179 17.4007 32.787 16.9438 32.9437C16.4702 32.6804 15.9893 32.3746 15.5256 32.089C15.2822 31.9396 14.9798 31.7169 14.7399 31.5507C15.0109 31.3984 16.6144 30.6815 16.8651 30.6446L16.9365 30.7318C17.0549 30.7747 17.3354 30.5972 17.4543 30.5284C18.4321 29.9632 19.4423 29.5319 20.4746 29.0784L24.3086 27.4082Z' fill='black'/%3E%3C/svg%3E");

        @include laptop {
          width: fluid(36, 28);
          height: fluid(36, 28);
        }
      }
    }
  }

  &__brands {
    display: flex;
    justify-content: center;
    gap: rem(8);

    @include mobile {
      flex-wrap: wrap;
    }

    &-item {
      background-color: var(--color-light-300);
      padding: rem(32);
      border-radius: rem(20);
      box-shadow: var(--shadow-100);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(20);

      transition-duration: var(--transition-duration);

      @include hover {
        background-color: var(--color-bg-white);
        box-shadow: var(--shadow-200);

        @include mobile {
          box-shadow: var(--shadow-100);
        }
      }

      @include laptop {
        padding: fluid(32, 12);
        border-radius: fluid(20, 12);
        gap: fluid(20, 12);
      }

      @include mobile {
        background-color: var(--color-bg-white);
      }

      &-head {
        font-size: rem(14);
        font-weight: 700;
        letter-spacing: 0.05em;
        color: var(--color-accent);
        font-family: var(--font-secondary);

        @include laptop {
          @include fluid-text(14, 12);
        }
      }
    }

    &-visual {
      @include flex-center;

      width: rem(129);
      height: rem(200);

      @include laptop {
        width: fluid(129, 90);
        height: fluid(200, 135);
      }

      &-img {
        object-fit: contain;
      }
    }
  }
}

.help {
  display: flex;
  flex-direction: column;
  gap: rem(64);

  & .logo {
    align-self: center;
    width: rem(279);

    @include laptop {
      width: fluid(279, 168);
    }
  }

  &__callouts {
    display: flex;
    gap: rem(8);

    @include tablet {
      flex-direction: column;
    }

    & .callout {
      width: 100%;

      &__info {
        font-size: rem(18);
        color: var(--text-color-secondary);

        @include laptop {
          @include fluid-text(18, 16);
        }
      }

      &:nth-child(2) {
        & .callout__inner {
          height: 100%;
          justify-content: space-between;

          & .callout__actions {
            justify-content: end;
          }
        }
      }
    }
  }
}

.decisions {
  display: flex;
  flex-direction: column;
  gap: rem(48);

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: rem(16);

    @include mobile {
      grid-template-columns: 1fr;
      gap: rem(12);
    }
  }

  &__item {
    background-color: var(--color-bg-white);
    padding: rem(24);
    border-radius: rem(24);
    box-shadow: var(--shadow-100);
    display: flex;
    flex-direction: column;

    @include laptop {
      padding: fluid(24, 16);
      border-radius: fluid(24, 16);
    }
  }

  &__head {
    font-size: rem(20);
    text-align: center;
    margin-bottom: rem(24);

    & span {
      color: inherit;
      text-decoration: underline;
      text-underline-offset: rem(2);
    }

    @include laptop {
      @include fluid-text(20, 16);
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: rem(16);
    margin-bottom: rem(16);

    @include laptop {
      flex-direction: column;
    }
  }

  &__visual {
    width: rem(172);
    height: rem(172);
    flex-shrink: 0;

    @include laptop {
      width: fluid(172, 150);
      height: fluid(172, 150);
    }
  }

  &__bullets {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: rem(4);
    width: 100%;

    @include laptop {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    @include tablet {
      grid-template-columns: 1fr;
    }

    &-item {
      background-color: var(--color-light-300);
      padding: rem(6) rem(8);
      border-radius: rem(10);
      box-shadow: var(--shadow-100);
      font-size: rem(14);
      color: var(--text-color-tertiary);

      @include laptop {
        @include fluid-text(14, 12);

        border-radius: fluid(10, 8);
      }
    }
  }

  &__desc {
    font-size: rem(14);
    color: var(--text-color-tertiary);
    margin-bottom: rem(24);
  }

  & .button {
    margin-top: auto;
    width: fit-content;
    align-self: end;
  }

  & .callout {
    max-width: rem(770);
    align-self: center;

    &::before {
      content: '';
      display: inline-block;
      width: rem(36);
      height: rem(36);
      background-color: var(--color-accent);
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath d='M17.3474 24.6316C16.2428 24.6316 15.336 23.7351 15.4024 22.6325C15.4953 21.0901 15.7059 19.917 16.0342 19.1132C16.4921 17.9921 17.4632 16.7684 18.9474 15.4421C20.2421 14.3053 21.229 13.3184 21.9079 12.4816C22.5869 11.6447 22.9263 10.6895 22.9263 9.61579C22.9263 8.32105 22.4921 7.24737 21.6237 6.39474C20.7553 5.54211 19.5474 5.11579 18 5.11579C16.3895 5.11579 15.1658 5.60526 14.329 6.58421C14.0263 6.93829 13.7556 7.29443 13.517 7.65263C12.8729 8.61945 11.6431 9.17988 10.5748 8.7235L9.36005 8.20459C8.40599 7.79703 7.90443 6.71549 8.38798 5.7976C9.08654 4.47159 10.0642 3.28116 11.3211 2.22632C13.0895 0.742105 15.3158 0 18 0C21.3158 0 23.8658 0.923684 25.65 2.77105C27.4342 4.61842 28.3263 6.83684 28.3263 9.42632C28.3263 11.0053 27.9869 12.3553 27.3079 13.4763C26.629 14.5974 25.5632 15.8684 24.1105 17.2895C22.5632 18.7737 21.6237 19.9026 21.2921 20.6763C21.095 21.1363 20.9565 21.7888 20.8765 22.6339C20.7725 23.7336 19.8993 24.6316 18.7948 24.6316H17.3474ZM18 36C16.9579 36 16.0658 35.6289 15.3237 34.8868C14.5816 34.1447 14.2105 33.2526 14.2105 32.2105C14.2105 31.1684 14.5816 30.2763 15.3237 29.5342C16.0658 28.7921 16.9579 28.4211 18 28.4211C19.0421 28.4211 19.9342 28.7921 20.6763 29.5342C21.4184 30.2763 21.7895 31.1684 21.7895 32.2105C21.7895 33.2526 21.4184 34.1447 20.6763 34.8868C19.9342 35.6289 19.0421 36 18 36Z' fill='black'/%3E%3C/svg%3E");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath d='M17.3474 24.6316C16.2428 24.6316 15.336 23.7351 15.4024 22.6325C15.4953 21.0901 15.7059 19.917 16.0342 19.1132C16.4921 17.9921 17.4632 16.7684 18.9474 15.4421C20.2421 14.3053 21.229 13.3184 21.9079 12.4816C22.5869 11.6447 22.9263 10.6895 22.9263 9.61579C22.9263 8.32105 22.4921 7.24737 21.6237 6.39474C20.7553 5.54211 19.5474 5.11579 18 5.11579C16.3895 5.11579 15.1658 5.60526 14.329 6.58421C14.0263 6.93829 13.7556 7.29443 13.517 7.65263C12.8729 8.61945 11.6431 9.17988 10.5748 8.7235L9.36005 8.20459C8.40599 7.79703 7.90443 6.71549 8.38798 5.7976C9.08654 4.47159 10.0642 3.28116 11.3211 2.22632C13.0895 0.742105 15.3158 0 18 0C21.3158 0 23.8658 0.923684 25.65 2.77105C27.4342 4.61842 28.3263 6.83684 28.3263 9.42632C28.3263 11.0053 27.9869 12.3553 27.3079 13.4763C26.629 14.5974 25.5632 15.8684 24.1105 17.2895C22.5632 18.7737 21.6237 19.9026 21.2921 20.6763C21.095 21.1363 20.9565 21.7888 20.8765 22.6339C20.7725 23.7336 19.8993 24.6316 18.7948 24.6316H17.3474ZM18 36C16.9579 36 16.0658 35.6289 15.3237 34.8868C14.5816 34.1447 14.2105 33.2526 14.2105 32.2105C14.2105 31.1684 14.5816 30.2763 15.3237 29.5342C16.0658 28.7921 16.9579 28.4211 18 28.4211C19.0421 28.4211 19.9342 28.7921 20.6763 29.5342C21.4184 30.2763 21.7895 31.1684 21.7895 32.2105C21.7895 33.2526 21.4184 34.1447 20.6763 34.8868C19.9342 35.6289 19.0421 36 18 36Z' fill='black'/%3E%3C/svg%3E");
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;

      @include laptop {
        width: fluid(36, 28);
        height: fluid(36, 28);
      }
    }

    @include hover {
      &::before {
        rotate: 5deg;
        scale: 1.25;
      }

      & .callout__phone {
        scale: 1.1;
        translate: 5% -3%;

        @include mobile {
          translate: -5% -3%;
        }
      }
    }
  }
}

.steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(8);
  grid-template-areas: 'step-1 step-2'
                       'step-3 step-3';

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  & .callout {

    & .callout__head {
      //font-weight: 500;
      //font-size: rem(20);
    }
    @include hover {
      & .callout__phone {
        scale: 1.1;
        translate: 5% -3%;

        @include mobile {
          translate: -5% -3%;
        }
      }
    }

    &:nth-child(1) {
      grid-area: step-1;

      &::before {
        content: '';
        display: inline-block;
        width: rem(36);
        height: rem(36);
        flex-shrink: 0;
        background-color: var(--color-accent);
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath d='M23.3898 32.7458L22.0169 30.8644L28.678 32.339V36H9.61016V32.339L17.5424 30.9661L16.1186 32.7458V6.20339L18.1017 6.30508L9.661 10.9831L7.32202 6.55932L17.339 0L23.3898 0V32.7458Z' fill='black'/%3E%3C/svg%3E");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath d='M23.3898 32.7458L22.0169 30.8644L28.678 32.339V36H9.61016V32.339L17.5424 30.9661L16.1186 32.7458V6.20339L18.1017 6.30508L9.661 10.9831L7.32202 6.55932L17.339 0L23.3898 0V32.7458Z' fill='black'/%3E%3C/svg%3E");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;

        margin-top: rem(17);

        @include laptop {
          width: fluid(36, 28);
          height: fluid(36, 28);
        }

        @include mobile {
          margin-top: 0;
        }
      }

      & .callout__inner {
        height: 100%;
      }

      & .callout__actions {
        margin-top: auto;
      }
    }

    &:nth-child(2) {
      grid-area: step-2;

      &::before {
        content: '';
        display: inline-block;
        width: rem(36);
        height: rem(36);
        flex-shrink: 0;
        background-color: var(--color-accent);
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath d='M5.58105 36V29.9665C9.40228 26.8156 12.5196 24.1173 14.933 21.8715C17.3799 19.6257 19.19 17.6145 20.3632 15.838C21.5364 14.0279 22.123 12.2514 22.123 10.5084C22.123 8.76536 21.5699 7.47486 20.4637 6.63687C19.3576 5.79888 17.9498 5.37989 16.2403 5.37989C15.4358 5.37989 14.5643 5.48045 13.6257 5.68156C12.6872 5.84916 11.7151 6.10056 10.7095 6.43576L11.514 5.22905L10.609 10.9106H6.33524L5.78217 1.91061C7.86038 1.27374 9.88832 0.804469 11.866 0.502793C13.8436 0.167598 15.704 0 17.447 0C19.8269 0 21.9386 0.318436 23.7822 0.955307C25.6257 1.59218 27.0671 2.61452 28.1062 4.02235C29.1453 5.43017 29.6649 7.25698 29.6649 9.50279C29.6649 11.9497 29.0447 14.2961 27.8045 16.5419C26.5643 18.7877 24.771 21.1006 22.4246 23.4804C20.0783 25.8268 17.2291 28.3911 13.8771 31.1732V30.3687H30.419V36H5.58105Z' fill='black'/%3E%3C/svg%3E");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath d='M5.58105 36V29.9665C9.40228 26.8156 12.5196 24.1173 14.933 21.8715C17.3799 19.6257 19.19 17.6145 20.3632 15.838C21.5364 14.0279 22.123 12.2514 22.123 10.5084C22.123 8.76536 21.5699 7.47486 20.4637 6.63687C19.3576 5.79888 17.9498 5.37989 16.2403 5.37989C15.4358 5.37989 14.5643 5.48045 13.6257 5.68156C12.6872 5.84916 11.7151 6.10056 10.7095 6.43576L11.514 5.22905L10.609 10.9106H6.33524L5.78217 1.91061C7.86038 1.27374 9.88832 0.804469 11.866 0.502793C13.8436 0.167598 15.704 0 17.447 0C19.8269 0 21.9386 0.318436 23.7822 0.955307C25.6257 1.59218 27.0671 2.61452 28.1062 4.02235C29.1453 5.43017 29.6649 7.25698 29.6649 9.50279C29.6649 11.9497 29.0447 14.2961 27.8045 16.5419C26.5643 18.7877 24.771 21.1006 22.4246 23.4804C20.0783 25.8268 17.2291 28.3911 13.8771 31.1732V30.3687H30.419V36H5.58105Z' fill='black'/%3E%3C/svg%3E");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;

        margin-top: rem(29);

        @include laptop {
          width: fluid(36, 28);
          height: fluid(36, 28);
        }

        @include mobile {
          margin-top: 0;
        }
      }

      & .callout__actions {
        justify-content: end;
      }
    }

    &:nth-child(3) {
      grid-area: step-3;
      width: fit-content;
      justify-self: center;

      @include tablet {
        width: 100%;
      }

      &::before {
        content: '';
        display: inline-block;
        width: rem(36);
        height: rem(36);
        flex-shrink: 0;
        background-color: var(--color-accent);
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath d='M16.7143 36C14.7692 36 12.8407 35.7692 10.9286 35.3077C9.01649 34.8462 7.2033 34.1538 5.48901 33.2308L7.31868 28.2857C8.8022 28.978 10.3187 29.522 11.8681 29.9176C13.4506 30.3132 14.967 30.511 16.4176 30.511C17.7363 30.511 18.9066 30.3297 19.9286 29.967C20.9835 29.5714 21.8077 28.978 22.4011 28.1868C23.0275 27.3626 23.3407 26.3242 23.3407 25.0714C23.3407 23.9835 23.0934 23.0604 22.5989 22.3022C22.1044 21.511 21.3462 20.9176 20.3242 20.522C19.3022 20.0934 18 19.8791 16.4176 19.8791H12.0659V14.8846H16.1703C18.3132 14.8846 19.9286 14.4725 21.0165 13.6484C22.1374 12.7912 22.6978 11.5549 22.6978 9.93956C22.6978 8.19231 22.1209 6.95604 20.967 6.23077C19.8462 5.47253 18.4286 5.09341 16.7143 5.09341C15.6923 5.09341 14.6868 5.19231 13.6978 5.39011C12.7088 5.58791 11.7363 5.85165 10.7802 6.18132L11.7198 5.24176L11.0769 10.3846H6.87363L6.47802 2.02747C8.45605 1.36813 10.4341 0.873625 12.4121 0.543955C14.4231 0.181318 16.3517 0 18.1978 0C20.4066 0 22.3846 0.296703 24.1319 0.89011C25.9121 1.45055 27.3132 2.37363 28.3352 3.65934C29.3571 4.91209 29.8681 6.60989 29.8681 8.75275C29.8681 11.2912 29.0934 13.2857 27.544 14.7363C26.0275 16.1538 23.8846 17.0275 21.1154 17.3571L20.8681 16.7637C24.1648 16.9945 26.5879 17.8352 28.1374 19.2857C29.7198 20.7363 30.511 22.7473 30.511 25.3187C30.511 27.1648 30.1484 28.7637 29.4231 30.1154C28.6978 31.4341 27.6923 32.5385 26.4066 33.4286C25.1209 34.3187 23.6374 34.978 21.956 35.4066C20.3077 35.8022 18.5604 36 16.7143 36Z' fill='black'/%3E%3C/svg%3E");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath d='M16.7143 36C14.7692 36 12.8407 35.7692 10.9286 35.3077C9.01649 34.8462 7.2033 34.1538 5.48901 33.2308L7.31868 28.2857C8.8022 28.978 10.3187 29.522 11.8681 29.9176C13.4506 30.3132 14.967 30.511 16.4176 30.511C17.7363 30.511 18.9066 30.3297 19.9286 29.967C20.9835 29.5714 21.8077 28.978 22.4011 28.1868C23.0275 27.3626 23.3407 26.3242 23.3407 25.0714C23.3407 23.9835 23.0934 23.0604 22.5989 22.3022C22.1044 21.511 21.3462 20.9176 20.3242 20.522C19.3022 20.0934 18 19.8791 16.4176 19.8791H12.0659V14.8846H16.1703C18.3132 14.8846 19.9286 14.4725 21.0165 13.6484C22.1374 12.7912 22.6978 11.5549 22.6978 9.93956C22.6978 8.19231 22.1209 6.95604 20.967 6.23077C19.8462 5.47253 18.4286 5.09341 16.7143 5.09341C15.6923 5.09341 14.6868 5.19231 13.6978 5.39011C12.7088 5.58791 11.7363 5.85165 10.7802 6.18132L11.7198 5.24176L11.0769 10.3846H6.87363L6.47802 2.02747C8.45605 1.36813 10.4341 0.873625 12.4121 0.543955C14.4231 0.181318 16.3517 0 18.1978 0C20.4066 0 22.3846 0.296703 24.1319 0.89011C25.9121 1.45055 27.3132 2.37363 28.3352 3.65934C29.3571 4.91209 29.8681 6.60989 29.8681 8.75275C29.8681 11.2912 29.0934 13.2857 27.544 14.7363C26.0275 16.1538 23.8846 17.0275 21.1154 17.3571L20.8681 16.7637C24.1648 16.9945 26.5879 17.8352 28.1374 19.2857C29.7198 20.7363 30.511 22.7473 30.511 25.3187C30.511 27.1648 30.1484 28.7637 29.4231 30.1154C28.6978 31.4341 27.6923 32.5385 26.4066 33.4286C25.1209 34.3187 23.6374 34.978 21.956 35.4066C20.3077 35.8022 18.5604 36 16.7143 36Z' fill='black'/%3E%3C/svg%3E");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;

        @include laptop {
          width: fluid(36, 28);
          height: fluid(36, 28);
        }
      }
    }
  }
}

.engineer-request {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(16);

  @include mobile {
    grid-template-columns: 1fr;
    gap: rem(48);
  }

  & .logo {
    width: rem(279);
    align-self: center;
    justify-self: center;

    @include laptop {
      width: fluid(279, 168);
    }
  }

  &__form {
    background-color: var(--color-bg-white);
    padding: rem(24);
    border-radius: rem(24);
    box-shadow: var(--shadow-200);
    display: flex;
    flex-direction: column;
    max-width: rem(500);
    align-self: center;
    justify-self: center;

    @include laptop {
      padding: fluid(24, 16);
      border-radius: fluid(24, 16);
    }

    &-head {
      font-size: rem(20);
      font-weight: 500;
      text-align: center;
      margin-bottom: rem(24);

      @include mobile {
        margin-bottom: rem(16);
      }
    }

    &-callout {
      background-color: var(--color-bg);
      padding: rem(16);
      border-radius: rem(16);
      box-shadow: var(--shadow-100);
      display: flex;
      align-items: center;
      gap: rem(16);
      color: var(--text-color-secondary);
      margin-bottom: rem(20);

      @include laptop {
        padding: fluid(16, 12);
        border-radius: fluid(16, 12);
        gap: fluid(16, 12);
      }

      @include mobile {
        margin-bottom: rem(16);
      }

      &::before {
        content: '';
        display: inline-block;
        width: rem(22);
        height: rem(22);
        flex-shrink: 0;
        background-color: currentColor;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cpath d='M9.5875 5.4125C9.19583 5.02083 9 4.55 9 4C9 3.45 9.19583 2.97917 9.5875 2.5875C9.97917 2.19583 10.45 2 11 2C11.55 2 12.0208 2.19583 12.4125 2.5875C12.8042 2.97917 13 3.45 13 4C13 4.55 12.8042 5.02083 12.4125 5.4125C12.0208 5.80417 11.55 6 11 6C10.45 6 9.97917 5.80417 9.5875 5.4125ZM11 20C10.1716 20 9.5 19.3284 9.5 18.5V9.5C9.5 8.67157 10.1716 8 11 8C11.8284 8 12.5 8.67157 12.5 9.5V18.5C12.5 19.3284 11.8284 20 11 20Z' fill='black'/%3E%3C/svg%3E");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cpath d='M9.5875 5.4125C9.19583 5.02083 9 4.55 9 4C9 3.45 9.19583 2.97917 9.5875 2.5875C9.97917 2.19583 10.45 2 11 2C11.55 2 12.0208 2.19583 12.4125 2.5875C12.8042 2.97917 13 3.45 13 4C13 4.55 12.8042 5.02083 12.4125 5.4125C12.0208 5.80417 11.55 6 11 6C10.45 6 9.97917 5.80417 9.5875 5.4125ZM11 20C10.1716 20 9.5 19.3284 9.5 18.5V9.5C9.5 8.67157 10.1716 8 11 8C11.8284 8 12.5 8.67157 12.5 9.5V18.5C12.5 19.3284 11.8284 20 11 20Z' fill='black'/%3E%3C/svg%3E");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;

        @include laptop {
          width: fluid(22, 20);
          height: fluid(22, 20);
        }
      }
    }

    & .field {
      &:nth-child(3) {
        margin-bottom: rem(8);
      }

      &:nth-child(4) {
        margin-bottom: rem(20);

        @include mobile {
          margin-bottom: rem(16);
        }
      }
    }

    & .agreement {
      margin-bottom: rem(20);
      align-self: end;

      @include mobile {
        margin-bottom: rem(16);
      }
    }

    & .button {
      width: fit-content;
      align-self: end;
    }
  }
}

#engineer-request {

  @include mobile-s {
    & .section__title {

      & span {
        background-color: inherit;
        color: inherit;
        box-shadow: inherit;
      }
    }
    }
}

