@use '../../styles/helpers' as *;

.faq {
  background-color: var(--color-bg-white);
  padding: rem(32);
  border-radius: rem(32);
  border-radius: rem(0);
  box-shadow: var(--shadow-200);
  display: flex;
  flex-direction: column;
  gap: rem(8);
  margin-bottom: rem(48);

  @include mobile {
    margin-bottom: rem(32);
  }

  @include laptop {
    padding: fluid(32, 8);
    border-radius: fluid(32, 24);
  }

  @include mobile {
    gap: rem(4);
  }

  &__item {
    background-color: var(--color-light-300);
    padding: rem(24);
    border-radius: rem(24);
    border-radius: rem(0);
    box-shadow: var(--shadow-100);
    overflow: hidden;

    transition-duration: var(--transition-duration);

    @include laptop {
      padding: fluid(24, 16);
      border-radius: fluid(24, 16);
    }

    &.is-open {
      background-color: var(--color-bg);
      box-shadow: var(--shadow-300);

      & .faq__question {
        color: var(--text-color-primary);
      }

      & .faq__button {
        opacity: 1;

        &::after {
          rotate: 135deg;
        }
      }

      & .faq__answer {
        padding-top: rem(20);
        max-height: fit-content;
        opacity: 1;

        @include mobile {
          padding-top: rem(16);
          max-height: fit-content;
        }
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    gap: rem(8);
  }

  &__question {
    font-size: rem(20);
    color: var(--text-color-secondary);
    font-weight: 500;
    text-align: left;

    @include laptop {
      @include fluid-text(20, 16);
    }
  }

  &__button {
    @include flex-center;

    width: rem(38);
    height: rem(38);
    flex-shrink: 0;
    border-radius: rem(12);
    background-color: var(--color-accent);
    opacity: 0.7;

    transition-duration: .3s;

    &::after {
      content: '';
      display: inline-block;
      width: rem(22);
      height: rem(22);
      flex-shrink: 0;
      background-color: var(--text-color-white);
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cpath d='M12.3889 8.11111C12.3889 8.93954 13.0605 9.61111 13.8889 9.61111H19.6111C20.3782 9.61111 21 10.2329 21 11C21 11.7671 20.3782 12.3889 19.6111 12.3889H13.8889C13.0605 12.3889 12.3889 13.0605 12.3889 13.8889V19.6111C12.3889 20.3782 11.7671 21 11 21C10.2329 21 9.61111 20.3782 9.61111 19.6111V13.8889C9.61111 13.0605 8.93954 12.3889 8.11111 12.3889H2.38889C1.62183 12.3889 1 11.7671 1 11C1 10.2329 1.62183 9.61111 2.38889 9.61111H8.11111C8.93954 9.61111 9.61111 8.93954 9.61111 8.11111V2.38889C9.61111 1.62183 10.2329 1 11 1C11.7671 1 12.3889 1.62183 12.3889 2.38889V8.11111Z' fill='black'/%3E%3C/svg%3E");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cpath d='M12.3889 8.11111C12.3889 8.93954 13.0605 9.61111 13.8889 9.61111H19.6111C20.3782 9.61111 21 10.2329 21 11C21 11.7671 20.3782 12.3889 19.6111 12.3889H13.8889C13.0605 12.3889 12.3889 13.0605 12.3889 13.8889V19.6111C12.3889 20.3782 11.7671 21 11 21C10.2329 21 9.61111 20.3782 9.61111 19.6111V13.8889C9.61111 13.0605 8.93954 12.3889 8.11111 12.3889H2.38889C1.62183 12.3889 1 11.7671 1 11C1 10.2329 1.62183 9.61111 2.38889 9.61111H8.11111C8.93954 9.61111 9.61111 8.93954 9.61111 8.11111V2.38889C9.61111 1.62183 10.2329 1 11 1C11.7671 1 12.3889 1.62183 12.3889 2.38889V8.11111Z' fill='black'/%3E%3C/svg%3E");
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;

      transition-duration: .3s;
    }

    &:active {
      scale: 0.92;
    }
  }

  &__answer {
    max-width: rem(790);
    color: var(--text-color-tertiary);
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    white-space: pre-line;

    transition-duration: .3s;
  }
}

#faq {
  & .callout {
    max-width: rem(696);

    &::before {
      content: '';
      display: inline-block;
      width: rem(36);
      height: rem(36);
      background-color: var(--color-accent);
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath d='M17.3474 24.6316C16.2428 24.6316 15.336 23.7351 15.4024 22.6325C15.4953 21.0901 15.7059 19.917 16.0342 19.1132C16.4921 17.9921 17.4632 16.7684 18.9474 15.4421C20.2421 14.3053 21.229 13.3184 21.9079 12.4816C22.5869 11.6447 22.9263 10.6895 22.9263 9.61579C22.9263 8.32105 22.4921 7.24737 21.6237 6.39474C20.7553 5.54211 19.5474 5.11579 18 5.11579C16.3895 5.11579 15.1658 5.60526 14.329 6.58421C14.0263 6.93829 13.7556 7.29443 13.517 7.65263C12.8729 8.61945 11.6431 9.17988 10.5748 8.7235L9.36005 8.20459C8.40599 7.79703 7.90443 6.71549 8.38798 5.7976C9.08654 4.47159 10.0642 3.28116 11.3211 2.22632C13.0895 0.742105 15.3158 0 18 0C21.3158 0 23.8658 0.923684 25.65 2.77105C27.4342 4.61842 28.3263 6.83684 28.3263 9.42632C28.3263 11.0053 27.9869 12.3553 27.3079 13.4763C26.629 14.5974 25.5632 15.8684 24.1105 17.2895C22.5632 18.7737 21.6237 19.9026 21.2921 20.6763C21.095 21.1363 20.9565 21.7888 20.8765 22.6339C20.7725 23.7336 19.8993 24.6316 18.7948 24.6316H17.3474ZM18 36C16.9579 36 16.0658 35.6289 15.3237 34.8868C14.5816 34.1447 14.2105 33.2526 14.2105 32.2105C14.2105 31.1684 14.5816 30.2763 15.3237 29.5342C16.0658 28.7921 16.9579 28.4211 18 28.4211C19.0421 28.4211 19.9342 28.7921 20.6763 29.5342C21.4184 30.2763 21.7895 31.1684 21.7895 32.2105C21.7895 33.2526 21.4184 34.1447 20.6763 34.8868C19.9342 35.6289 19.0421 36 18 36Z' fill='black'/%3E%3C/svg%3E");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath d='M17.3474 24.6316C16.2428 24.6316 15.336 23.7351 15.4024 22.6325C15.4953 21.0901 15.7059 19.917 16.0342 19.1132C16.4921 17.9921 17.4632 16.7684 18.9474 15.4421C20.2421 14.3053 21.229 13.3184 21.9079 12.4816C22.5869 11.6447 22.9263 10.6895 22.9263 9.61579C22.9263 8.32105 22.4921 7.24737 21.6237 6.39474C20.7553 5.54211 19.5474 5.11579 18 5.11579C16.3895 5.11579 15.1658 5.60526 14.329 6.58421C14.0263 6.93829 13.7556 7.29443 13.517 7.65263C12.8729 8.61945 11.6431 9.17988 10.5748 8.7235L9.36005 8.20459C8.40599 7.79703 7.90443 6.71549 8.38798 5.7976C9.08654 4.47159 10.0642 3.28116 11.3211 2.22632C13.0895 0.742105 15.3158 0 18 0C21.3158 0 23.8658 0.923684 25.65 2.77105C27.4342 4.61842 28.3263 6.83684 28.3263 9.42632C28.3263 11.0053 27.9869 12.3553 27.3079 13.4763C26.629 14.5974 25.5632 15.8684 24.1105 17.2895C22.5632 18.7737 21.6237 19.9026 21.2921 20.6763C21.095 21.1363 20.9565 21.7888 20.8765 22.6339C20.7725 23.7336 19.8993 24.6316 18.7948 24.6316H17.3474ZM18 36C16.9579 36 16.0658 35.6289 15.3237 34.8868C14.5816 34.1447 14.2105 33.2526 14.2105 32.2105C14.2105 31.1684 14.5816 30.2763 15.3237 29.5342C16.0658 28.7921 16.9579 28.4211 18 28.4211C19.0421 28.4211 19.9342 28.7921 20.6763 29.5342C21.4184 30.2763 21.7895 31.1684 21.7895 32.2105C21.7895 33.2526 21.4184 34.1447 20.6763 34.8868C19.9342 35.6289 19.0421 36 18 36Z' fill='black'/%3E%3C/svg%3E");
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;

      @include laptop {
        width: fluid(36, 28);
        height: fluid(36, 28);
      }
    }

    @include hover {
      &::before {
        rotate: 5deg;
        scale: 1.25;
      }

      & .callout__phone {
        scale: 1.1;
        translate: 5% -3%;

        @include mobile {
          translate: -5% -3%;
        }
      }
    }
  }
}