@use '../../styles/helpers' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);

  &--max {
    max-width: calc(var(--container-width-max) + var(--container-padding-x) * 2);
  }
}