@use '../../styles/helpers' as *;

.calculator {

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(24);

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__form {
    background-color: var(--color-bg-white);
    padding: rem(32);
    border-radius: rem(32);
    box-shadow: var(--shadow-100);
    position: relative;

    @include laptop {
      padding: fluid(32, 16);
      border-radius: fluid(32, 20);
    }

    &::after {
      content: '';
      background-image: url('../../assets/images/CalculatorFormImage.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      top: rem(32);
      right: rem(32);
      width: rem(134);
      height: rem(315);

      display: none;
    }

    &-asks {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: rem(28);
      margin-bottom: rem(24);
      //max-width: rem(466);

      @include mobile {
        gap: rem(24);
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: rem(12);
      width: 100%;
    }

    &-label {
      font-weight: 500;
    }

    &-options {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: rem(6);
      align-items: start;
      width: 100%;

      @include tablet {
        grid-template-columns: 1fr 1fr;
      }
    }

    &-option {
      & input {
        @include visually-hidden;

        &:checked + label {
          background-color: var(--color-accent);
          color: var(--text-color-white);

          &:active {
            scale: 1;
          }
        }

        &:focus-visible + label {
          box-shadow: 0 0 0 rem(3) var(--color-accent);
          outline-width: 0;
        }
      }

      & label {
        @include flex-center;

        background-color: var(--color-light-300);
        //background-color: var(--color-accent-light);
        padding: rem(8) rem(16);
        border-radius: rem(14);
        box-shadow: var(--shadow-100);
        font-size: rem(14);
        color: var(--text-color-secondary);

        transition-duration: .05s;

        @include hover {
          background-color: var(--color-accent-light);
          color: var(--text-color-primary);
        }

        &:active {
          scale: 0.97;
        }

        @include laptop {
          border-radius: fluid(14, 12);
        }

        @include mobile {
          //background-color: var(--color-accent-light);
          font-size: rem(12);
          padding: rem(10) rem(14);

          transition-duration: .1s;

          &:active {
            background-color: var(--color-light-300);
            scale: 0.96;

            transition-duration: .1s;
          }
        }
      }
    }

    &-wrapper {
      background-color: var(--color-accent-light);
      padding: rem(16);
      border-radius: rem(24);
      box-shadow: var(--shadow-100);
      display: flex;
      flex-direction: column;
      gap: rem(16);
      margin: 0 rem(-16) rem(-16) rem(-16);

      @include laptop {
        padding: fluid(16, 8);
        border-radius: fluid(24, 16);
        margin: 0 fluid(-16, -8) fluid(-16, -8) fluid(-16, -8);
      }
    }

    &-callout {
      background-color: var(--color-light-200);
      padding: rem(16);
      border-radius: rem(16);
      box-shadow: var(--shadow-100);
      display: flex;
      align-items: center;
      gap: rem(16);
      color: var(--text-color-secondary);

      @include laptop {
        padding: fluid(16, 12);
        border-radius: fluid(16, 12);
        gap: fluid(16, 12);
      }

      &::before {
        content: '';
        display: inline-block;
        width: rem(22);
        height: rem(22);
        flex-shrink: 0;
        background-color: currentColor;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cpath d='M9.5875 5.4125C9.19583 5.02083 9 4.55 9 4C9 3.45 9.19583 2.97917 9.5875 2.5875C9.97917 2.19583 10.45 2 11 2C11.55 2 12.0208 2.19583 12.4125 2.5875C12.8042 2.97917 13 3.45 13 4C13 4.55 12.8042 5.02083 12.4125 5.4125C12.0208 5.80417 11.55 6 11 6C10.45 6 9.97917 5.80417 9.5875 5.4125ZM11 20C10.1716 20 9.5 19.3284 9.5 18.5V9.5C9.5 8.67157 10.1716 8 11 8C11.8284 8 12.5 8.67157 12.5 9.5V18.5C12.5 19.3284 11.8284 20 11 20Z' fill='black'/%3E%3C/svg%3E");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cpath d='M9.5875 5.4125C9.19583 5.02083 9 4.55 9 4C9 3.45 9.19583 2.97917 9.5875 2.5875C9.97917 2.19583 10.45 2 11 2C11.55 2 12.0208 2.19583 12.4125 2.5875C12.8042 2.97917 13 3.45 13 4C13 4.55 12.8042 5.02083 12.4125 5.4125C12.0208 5.80417 11.55 6 11 6C10.45 6 9.97917 5.80417 9.5875 5.4125ZM11 20C10.1716 20 9.5 19.3284 9.5 18.5V9.5C9.5 8.67157 10.1716 8 11 8C11.8284 8 12.5 8.67157 12.5 9.5V18.5C12.5 19.3284 11.8284 20 11 20Z' fill='black'/%3E%3C/svg%3E");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
      }
    }

    &-fields {
      display: flex;
      gap: rem(8);
      width: 100%;

      & .field {
        &:nth-child(3) {
          @include visually-hidden;
        }
      }

      @include laptop {
        flex-direction: column;
      }
    }

    &-submit {
      display: flex;
      align-items: center;
      gap: rem(16);
      justify-content: end;

      @include laptop {
        gap: fluid(16, 12);
      }
    }
  }

  &__callouts {
    display: flex;
    flex-direction: column;

    & .callout {
      width: 100%;

      &:nth-child(1) {
        position: sticky;
        top: rem(107);
        margin-bottom: rem(220);

        transition-duration: var(--transition-duration);

        @include mobile {
          margin-bottom: rem(12);
          position: static;
        }

        &::before {
          content: '';
          display: inline-block;
          width: rem(36);
          height: rem(36);
          flex-shrink: 0;
          background-color: var(--color-accent);
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 1.125C19.1698 1.125 20.2199 1.45773 21.1498 2.12366C21.8761 2.64389 22.4284 3.27752 22.807 4.02372C22.9996 4.40343 23.3699 4.67798 23.7957 4.67798H33.2004C33.7527 4.67798 34.2004 5.12569 34.2004 5.67798V7.22986C34.2004 7.78214 33.7527 8.22986 33.2004 8.22986H32.1247C31.4047 8.22986 30.9207 8.96779 31.2075 9.62818L35.9172 20.4736C35.9718 20.5993 36.0013 20.7351 35.9959 20.872C35.9407 22.2625 35.3272 23.4518 34.1554 24.4391C32.9255 25.4752 31.4403 25.9936 29.7004 25.9937C27.9606 25.9937 26.4754 25.4751 25.2455 24.4391C24.0735 23.4517 23.4592 22.2626 23.4039 20.872C23.3984 20.7351 23.4279 20.5993 23.4825 20.4736L28.1923 9.62818C28.4791 8.96779 27.9951 8.22986 27.2751 8.22986H23.7934C23.3687 8.22986 22.999 8.50288 22.8076 8.88199C22.5549 9.38238 22.2277 9.83124 21.8254 10.2283C21.4229 10.6255 20.9675 10.9491 20.46 11.1987C20.0762 11.3875 19.7996 11.7594 19.7996 12.1871V30.322C19.7996 30.8743 20.2473 31.322 20.7996 31.322H26C26.5523 31.322 27 31.7697 27 32.322V33.875C27 34.4273 26.5523 34.875 26 34.875H10C9.44772 34.875 9 34.4273 9 33.875V32.322C9 31.7697 9.44772 31.322 10 31.322H15.2004C15.7527 31.322 16.2004 30.8743 16.2004 30.322V12.1871C16.2004 11.7594 15.9238 11.3875 15.54 11.1987C15.0325 10.9491 14.5771 10.6255 14.1746 10.2283C13.7723 9.83124 13.4451 9.38238 13.1924 8.88199C13.001 8.50288 12.6313 8.22986 12.2066 8.22986H8.72493C8.00495 8.22986 7.5209 8.96779 7.80768 9.62818L12.5175 20.4736C12.5721 20.5993 12.6016 20.7351 12.5961 20.872C12.5408 22.2626 11.9265 23.4517 10.7545 24.4391C9.52457 25.4751 8.03944 25.9937 6.29956 25.9937C4.55975 25.9936 3.0745 25.4752 1.8446 24.4391C0.672755 23.4518 0.0593307 22.2625 0.00409883 20.872C-0.00134045 20.7351 0.0281682 20.5993 0.0827561 20.4736L4.79254 9.62818C5.07932 8.96779 4.59527 8.22986 3.87529 8.22986H2.79956C2.24728 8.22986 1.79956 7.78214 1.79956 7.22986V5.67798C1.79956 5.12569 2.24728 4.67798 2.79956 4.67798H12.2043C12.6301 4.67798 13.0004 4.40343 13.193 4.02372C13.5716 3.27752 14.1239 2.64389 14.8502 2.12366C15.7801 1.45773 16.8302 1.125 18 1.125ZM3.5362 19.2639C3.24764 19.9245 3.7317 20.6642 4.45259 20.6642H8.14653C8.86743 20.6642 9.35148 19.9245 9.06292 19.2639L7.21595 15.0355C6.86668 14.2359 5.73244 14.2359 5.38317 15.0355L3.5362 19.2639ZM26.9371 19.2639C26.6485 19.9245 27.1326 20.6642 27.8535 20.6642H31.5474C32.2683 20.6642 32.7524 19.9245 32.4638 19.2639L30.6168 15.0355C30.2676 14.2359 29.1333 14.2359 28.784 15.0355L26.9371 19.2639ZM18 4.67798C17.49 4.67798 17.0629 4.84838 16.7179 5.18884C16.3729 5.52929 16.2004 5.95121 16.2004 6.45447C16.2006 6.95753 16.373 7.37975 16.7179 7.72009C17.0628 8.06025 17.4902 8.22986 18 8.22986C18.5098 8.22986 18.9372 8.06025 19.2821 7.72009C19.627 7.37975 19.7994 6.95753 19.7996 6.45447C19.7996 5.95121 19.6271 5.52929 19.2821 5.18884C18.9371 4.84838 18.51 4.67798 18 4.67798Z' fill='black'/%3E%3C/svg%3E");
          mask-size: contain;
          mask-repeat: no-repeat;
          mask-position: center;
          -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 1.125C19.1698 1.125 20.2199 1.45773 21.1498 2.12366C21.8761 2.64389 22.4284 3.27752 22.807 4.02372C22.9996 4.40343 23.3699 4.67798 23.7957 4.67798H33.2004C33.7527 4.67798 34.2004 5.12569 34.2004 5.67798V7.22986C34.2004 7.78214 33.7527 8.22986 33.2004 8.22986H32.1247C31.4047 8.22986 30.9207 8.96779 31.2075 9.62818L35.9172 20.4736C35.9718 20.5993 36.0013 20.7351 35.9959 20.872C35.9407 22.2625 35.3272 23.4518 34.1554 24.4391C32.9255 25.4752 31.4403 25.9936 29.7004 25.9937C27.9606 25.9937 26.4754 25.4751 25.2455 24.4391C24.0735 23.4517 23.4592 22.2626 23.4039 20.872C23.3984 20.7351 23.4279 20.5993 23.4825 20.4736L28.1923 9.62818C28.4791 8.96779 27.9951 8.22986 27.2751 8.22986H23.7934C23.3687 8.22986 22.999 8.50288 22.8076 8.88199C22.5549 9.38238 22.2277 9.83124 21.8254 10.2283C21.4229 10.6255 20.9675 10.9491 20.46 11.1987C20.0762 11.3875 19.7996 11.7594 19.7996 12.1871V30.322C19.7996 30.8743 20.2473 31.322 20.7996 31.322H26C26.5523 31.322 27 31.7697 27 32.322V33.875C27 34.4273 26.5523 34.875 26 34.875H10C9.44772 34.875 9 34.4273 9 33.875V32.322C9 31.7697 9.44772 31.322 10 31.322H15.2004C15.7527 31.322 16.2004 30.8743 16.2004 30.322V12.1871C16.2004 11.7594 15.9238 11.3875 15.54 11.1987C15.0325 10.9491 14.5771 10.6255 14.1746 10.2283C13.7723 9.83124 13.4451 9.38238 13.1924 8.88199C13.001 8.50288 12.6313 8.22986 12.2066 8.22986H8.72493C8.00495 8.22986 7.5209 8.96779 7.80768 9.62818L12.5175 20.4736C12.5721 20.5993 12.6016 20.7351 12.5961 20.872C12.5408 22.2626 11.9265 23.4517 10.7545 24.4391C9.52457 25.4751 8.03944 25.9937 6.29956 25.9937C4.55975 25.9936 3.0745 25.4752 1.8446 24.4391C0.672755 23.4518 0.0593307 22.2625 0.00409883 20.872C-0.00134045 20.7351 0.0281682 20.5993 0.0827561 20.4736L4.79254 9.62818C5.07932 8.96779 4.59527 8.22986 3.87529 8.22986H2.79956C2.24728 8.22986 1.79956 7.78214 1.79956 7.22986V5.67798C1.79956 5.12569 2.24728 4.67798 2.79956 4.67798H12.2043C12.6301 4.67798 13.0004 4.40343 13.193 4.02372C13.5716 3.27752 14.1239 2.64389 14.8502 2.12366C15.7801 1.45773 16.8302 1.125 18 1.125ZM3.5362 19.2639C3.24764 19.9245 3.7317 20.6642 4.45259 20.6642H8.14653C8.86743 20.6642 9.35148 19.9245 9.06292 19.2639L7.21595 15.0355C6.86668 14.2359 5.73244 14.2359 5.38317 15.0355L3.5362 19.2639ZM26.9371 19.2639C26.6485 19.9245 27.1326 20.6642 27.8535 20.6642H31.5474C32.2683 20.6642 32.7524 19.9245 32.4638 19.2639L30.6168 15.0355C30.2676 14.2359 29.1333 14.2359 28.784 15.0355L26.9371 19.2639ZM18 4.67798C17.49 4.67798 17.0629 4.84838 16.7179 5.18884C16.3729 5.52929 16.2004 5.95121 16.2004 6.45447C16.2006 6.95753 16.373 7.37975 16.7179 7.72009C17.0628 8.06025 17.4902 8.22986 18 8.22986C18.5098 8.22986 18.9372 8.06025 19.2821 7.72009C19.627 7.37975 19.7994 6.95753 19.7996 6.45447C19.7996 5.95121 19.6271 5.52929 19.2821 5.18884C18.9371 4.84838 18.51 4.67798 18 4.67798Z' fill='black'/%3E%3C/svg%3E");
          -webkit-mask-size: contain;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-position: center;

          transition-duration: var(--transition-duration);

          @include laptop {
            width: fluid(36, 28);
            height: fluid(36, 28);
          }
        }

        @include hover {
          box-shadow: var(--shadow-200);

          &::before {
            rotate: 5deg;
            scale: 1.15;
          }
        }
      }

      &:nth-child(2) {
        margin-top: auto;

        transition-duration: var(--transition-duration);

        &::before {
          content: '';
          display: inline-block;
          width: rem(36);
          height: rem(36);
          flex-shrink: 0;
          background-color: var(--color-accent);
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath d='M14.5848 8.26072C14.1162 2.86775 8.49338 0.22158 8.25542 0.113574C8.03296 0.00893889 7.78367 -0.0244918 7.54153 0.0178404C1.05027 1.09545 0.0738848 4.87569 0.0346331 5.03279C-0.0187705 5.25172 -0.0102767 5.48119 0.0591654 5.69556C7.80157 29.732 23.8923 34.1873 29.1815 35.6527C29.5887 35.7656 29.9248 35.8564 30.18 35.9399C30.4711 36.0351 30.7874 36.0167 31.0656 35.8884C31.2275 35.8147 35.0496 34.013 35.9843 28.1364C36.0258 27.8799 35.9845 27.6168 35.8666 27.3853C35.7832 27.2233 33.7838 23.416 28.2395 22.0709C28.0514 22.0227 27.8544 22.021 27.6655 22.0659C27.4766 22.1108 27.3015 22.201 27.1551 22.3286C25.406 23.8235 22.9895 25.4166 21.9469 25.5811C14.9577 22.1617 11.0546 15.6003 10.9074 14.3557C10.8215 13.6561 12.4235 11.199 14.2658 9.20087C14.3816 9.07512 14.4698 8.9265 14.5248 8.76458C14.5797 8.60266 14.6001 8.43102 14.5848 8.26072Z' fill='black'/%3E%3C/svg%3E");
          mask-size: contain;
          mask-repeat: no-repeat;
          mask-position: center;
          -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath d='M14.5848 8.26072C14.1162 2.86775 8.49338 0.22158 8.25542 0.113574C8.03296 0.00893889 7.78367 -0.0244918 7.54153 0.0178404C1.05027 1.09545 0.0738848 4.87569 0.0346331 5.03279C-0.0187705 5.25172 -0.0102767 5.48119 0.0591654 5.69556C7.80157 29.732 23.8923 34.1873 29.1815 35.6527C29.5887 35.7656 29.9248 35.8564 30.18 35.9399C30.4711 36.0351 30.7874 36.0167 31.0656 35.8884C31.2275 35.8147 35.0496 34.013 35.9843 28.1364C36.0258 27.8799 35.9845 27.6168 35.8666 27.3853C35.7832 27.2233 33.7838 23.416 28.2395 22.0709C28.0514 22.0227 27.8544 22.021 27.6655 22.0659C27.4766 22.1108 27.3015 22.201 27.1551 22.3286C25.406 23.8235 22.9895 25.4166 21.9469 25.5811C14.9577 22.1617 11.0546 15.6003 10.9074 14.3557C10.8215 13.6561 12.4235 11.199 14.2658 9.20087C14.3816 9.07512 14.4698 8.9265 14.5248 8.76458C14.5797 8.60266 14.6001 8.43102 14.5848 8.26072Z' fill='black'/%3E%3C/svg%3E");
          -webkit-mask-size: contain;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-position: center;

          transition-duration: var(--transition-duration);

          @include laptop {
            width: fluid(36, 28);
            height: fluid(36, 28);
          }
        }

        @include hover {
          box-shadow: var(--shadow-200);

          &::before {
            rotate: 10deg;
            scale: 1.15;
          }

          & .callout__phone {
            scale: 1.1;
            translate: 5% -3%;

            @include mobile {
              translate: -5% -3%;
            }
          }
        }
      }

      &__info {
        color: var(--text-color-secondary);
      }
    }
  }
}

#calculator {
  & .section__title {
    margin-bottom: rem(48);

    @include laptop {
      margin-bottom: fluid(48, 32);
    }
  }
}