@use '../../styles/helpers' as *;

.modal {
  background-color: var(--color-bg-white);
  padding: rem(24);
  border-radius: rem(24);
  border-radius: rem(0);
  box-shadow: var(--shadow-200);
  animation: modal-scale-in var(--transition-duration);
  position: relative;
  width: rem(427);

  @include mobile {
    width: 100%;
  }

  @include laptop {
    padding: fluid(24, 16);
    border-radius: fluid(24, 16);
    border-radius: 0;
  }

  &__overlay {
    @include flex-center;

    position: fixed;
    inset: 0;
    padding-inline: var(--container-padding-x);
    z-index: 99998;
    background-color: var(--color-bg-modal);
    backdrop-filter: blur(12px);
    animation: modal-fade-in var(--transition-duration);
  }

  &__close {
    position: absolute;
    top: rem(8);
    right: rem(8);
    padding: 0;
    //content: '';
    display: inline-block;
    width: rem(16);
    height: rem(16);
    background-color: var(--text-color-secondary);
    opacity: 0.25;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M16 1.99977C13.4718 4.10713 12.1538 5.41427 9.99977 8L10.7732 8.91334C12.503 10.9245 13.7879 12.1563 16 14.0002L14.0002 16C12.1563 13.7879 10.9245 12.503 8.91334 10.7732L8 9.99977C5.47185 12.1071 4.15379 13.4143 1.99977 16L0 14.0002C2.58573 11.8462 3.89287 10.5282 6.00023 8C3.89287 5.47185 2.58573 4.1538 0 1.99977L1.99977 0C4.15379 2.58573 5.47185 3.89287 8 6.00023C10.5857 3.84621 11.8929 2.52815 14.0002 0L16 1.99977Z' fill='black'/%3E%3C/svg%3E");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M16 1.99977C13.4718 4.10713 12.1538 5.41427 9.99977 8L10.7732 8.91334C12.503 10.9245 13.7879 12.1563 16 14.0002L14.0002 16C12.1563 13.7879 10.9245 12.503 8.91334 10.7732L8 9.99977C5.47185 12.1071 4.15379 13.4143 1.99977 16L0 14.0002C2.58573 11.8462 3.89287 10.5282 6.00023 8C3.89287 5.47185 2.58573 4.1538 0 1.99977L1.99977 0C4.15379 2.58573 5.47185 3.89287 8 6.00023C10.5857 3.84621 11.8929 2.52815 14.0002 0L16 1.99977Z' fill='black'/%3E%3C/svg%3E");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    transition-duration: .2s;

    @include hover {
      opacity: 0.75;
    }

    &:active {
      scale: 0.85;
      transition-duration: .2s;
    }
  }

  &__connect {
    &-head  {
      font-size: rem(20);
      font-weight: 600;
      text-align: center;
      display: flex;
      flex-direction: column;
      margin-bottom: rem(20);
      line-height: var(--lh-base);

      @include mobile {
        margin-bottom: rem(16);
      }

      & span {
        color: inherit;
        //text-decoration: underline;
        text-underline-offset: rem(2);
      }
    }

    &-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-phone {
      font-family: var(--font-primary);
      font-size: rem(24);
      letter-spacing: 0.02em;
      font-weight: 700;
      color: var(--color-accent);
      margin-bottom: rem(20);

      @include laptop {
        @include fluid-text(24, 20);
      }

      @include mobile {
        margin-bottom: rem(16);
      }
    }

    &-messengers {
      display: flex;
      gap: rem(8);
      margin-bottom: rem(20);

      @include mobile {
        margin-bottom: rem(16);
      }
    }

    &-form {
      width: 100%;

      & .field {
        &:nth-child(2) {
          margin-bottom: rem(8);
        }

        &:nth-child(3) {
          margin-bottom: rem(20);
        }

        &:nth-child(4) {
          @include visually-hidden;
        }
      }

      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: end;
      }
    }

    &-submit {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-items: end;
      gap: rem(16);

      @include mobile {
        flex-direction: column;
        align-items: end;
      }
    }
  }

  &__thanks {
    z-index: 99999;
  }
}

.modal--closing {
  scale: 0.9;
  translate: 0 rem(48);
  animation: none;

  transition-duration: var(--transition-duration);
}

.modal__overlay--closing {
  opacity: 0;
  animation: none;

  transition-duration: var(--transition-duration);
}

@keyframes modal-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-scale-in {
  0% {
    @include hide;

    transform: scale(0.9);
    translate: 0 rem(48);
  }
  100% {
    @include show;

    transform: scale(1);
    translate: 0 rem(0);
  }
}