@use '../../styles/helpers' as *;

.catalog__card {
  background-color: var(--color-light-300);
  padding: rem(24);
  border-radius: rem(28);
  border-radius: rem(0);
  box-shadow: var(--shadow-200);
  position: relative;

  @include hover {
    & .catalog__card-link {
      opacity: 1;

      &:active {
        opacity: 0.5;

        transition-duration: .05s;
      }
    }
  }

  @include tablet {
    padding: fluid(24, 8);
    border-radius: fluid(28, 16);
    border-radius: rem(0);
  }

  &-label {
    font-size: rem(12);
    font-weight: 800;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-accent);
    margin-bottom: rem(20);

    @include tablet {
      @include fluid-text(12, 10);
    }

    @include mobile {
      margin-bottom: rem(8);
    }
  }

  &-name {
    font-size: rem(20);
    color: var(--text-color-primary);
    font-weight: 500;
    margin-bottom: rem(16);

    @include tablet {
      @include fluid-text(20, 16);
    }
    
    @include mobile {
      text-align: center;
      font-weight: 600;
      color: var(--text-color-secondary);
    }
  }

  &-visual {
    @include flex-center;

    width: rem(180);
    height: rem(180);
    margin-bottom: rem(20);

    @include mobile {
      width: rem(150);
      height: rem(150);
      //justify-self: center;
      margin-inline: auto;
      margin-bottom: rem(16);
    }
  }

  &-values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(4);
    margin-bottom: rem(24);

    @include mobile {
      gap: rem(2);
      margin-bottom: rem(20);
    }

    &-value {
      font-size: rem(14);
      color: var(--text-color-tertiary);
      background-color: var(--color-bg-white);
      padding: rem(8) rem(10);
      border-radius: rem(12);
      border-radius: rem(0);
      box-shadow: var(--shadow-100);
      display: flex;
      flex-direction: column;
      gap: rem(4);

      @include laptop {
        @include fluid-text(14, 12);

        border-radius: fluid(12, 10);
        border-radius: rem(0);
      }

      &-head {
        font-weight: 500;
      }
    }
  }

  &-actions {
    display: flex;
    flex-direction: column;
    gap: rem(6);
  }

  & .button {
    border-radius: rem(0);
  }

  &-link {
    display: inline-block;
    width: rem(12);
    height: rem(12);
    flex-shrink: 0;
    background-color: var(--color-accent);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M5.4 0C5.73137 0 6 0.268629 6 0.6C6 0.931371 5.73137 1.2 5.4 1.2H1.8C1.64087 1.2 1.4883 1.26326 1.37578 1.37578C1.26326 1.4883 1.2 1.64087 1.2 1.8V10.2C1.2 10.3591 1.26326 10.5117 1.37578 10.6242C1.4883 10.7367 1.64087 10.8 1.8 10.8H10.2C10.3591 10.8 10.5117 10.7367 10.6242 10.6242C10.7367 10.5117 10.8 10.3591 10.8 10.2V6.6C10.8 6.26863 11.0686 6 11.4 6C11.7314 6 12 6.26863 12 6.6V10.2C12 10.6774 11.8102 11.1351 11.4727 11.4727C11.1351 11.8102 10.6774 12 10.2 12H1.8C1.32261 12 0.864909 11.8102 0.527344 11.4727C0.189778 11.1351 0 10.6774 0 10.2V1.8C0 1.32261 0.189778 0.864909 0.527344 0.527344C0.864909 0.189778 1.32261 0 1.8 0H5.4Z' fill='black'/%3E%3Cpath d='M11.4 0C11.436 0 11.4712 0.00330056 11.5055 0.009375C11.5099 0.0101611 11.5143 0.0108329 11.5188 0.0117188C11.5295 0.0138671 11.5395 0.0183843 11.55 0.0210938C11.5766 0.0279568 11.6033 0.0347485 11.6289 0.0453125C11.6506 0.0542688 11.6703 0.0667887 11.6906 0.078125C11.738 0.104556 11.7839 0.135504 11.8242 0.175781C11.8625 0.214062 11.8922 0.257566 11.918 0.302344C11.9307 0.324528 11.944 0.346457 11.9539 0.370313C11.9705 0.410309 11.9823 0.451675 11.9898 0.49375C11.996 0.528278 12 0.563695 12 0.6V4.2C12 4.53137 11.7314 4.8 11.4 4.8C11.0686 4.8 10.8 4.53137 10.8 4.2V2.04844L6.42422 6.42422C6.1899 6.65853 5.8101 6.65853 5.57578 6.42422C5.34147 6.1899 5.34147 5.8101 5.57578 5.57578L9.95156 1.2H7.8C7.46863 1.2 7.2 0.931371 7.2 0.6C7.2 0.268629 7.46863 0 7.8 0H11.4Z' fill='black'/%3E%3C/svg%3E");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M5.4 0C5.73137 0 6 0.268629 6 0.6C6 0.931371 5.73137 1.2 5.4 1.2H1.8C1.64087 1.2 1.4883 1.26326 1.37578 1.37578C1.26326 1.4883 1.2 1.64087 1.2 1.8V10.2C1.2 10.3591 1.26326 10.5117 1.37578 10.6242C1.4883 10.7367 1.64087 10.8 1.8 10.8H10.2C10.3591 10.8 10.5117 10.7367 10.6242 10.6242C10.7367 10.5117 10.8 10.3591 10.8 10.2V6.6C10.8 6.26863 11.0686 6 11.4 6C11.7314 6 12 6.26863 12 6.6V10.2C12 10.6774 11.8102 11.1351 11.4727 11.4727C11.1351 11.8102 10.6774 12 10.2 12H1.8C1.32261 12 0.864909 11.8102 0.527344 11.4727C0.189778 11.1351 0 10.6774 0 10.2V1.8C0 1.32261 0.189778 0.864909 0.527344 0.527344C0.864909 0.189778 1.32261 0 1.8 0H5.4Z' fill='black'/%3E%3Cpath d='M11.4 0C11.436 0 11.4712 0.00330056 11.5055 0.009375C11.5099 0.0101611 11.5143 0.0108329 11.5188 0.0117188C11.5295 0.0138671 11.5395 0.0183843 11.55 0.0210938C11.5766 0.0279568 11.6033 0.0347485 11.6289 0.0453125C11.6506 0.0542688 11.6703 0.0667887 11.6906 0.078125C11.738 0.104556 11.7839 0.135504 11.8242 0.175781C11.8625 0.214062 11.8922 0.257566 11.918 0.302344C11.9307 0.324528 11.944 0.346457 11.9539 0.370313C11.9705 0.410309 11.9823 0.451675 11.9898 0.49375C11.996 0.528278 12 0.563695 12 0.6V4.2C12 4.53137 11.7314 4.8 11.4 4.8C11.0686 4.8 10.8 4.53137 10.8 4.2V2.04844L6.42422 6.42422C6.1899 6.65853 5.8101 6.65853 5.57578 6.42422C5.34147 6.1899 5.34147 5.8101 5.57578 5.57578L9.95156 1.2H7.8C7.46863 1.2 7.2 0.931371 7.2 0.6C7.2 0.268629 7.46863 0 7.8 0H11.4Z' fill='black'/%3E%3C/svg%3E");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    position: absolute;
    top: rem(10);
    right: rem(10);
    opacity: 0;

    &:active {
      opacity: 0;
    }

    @include mobile {
      opacity: 0.8;
      width: rem(10);
      height: rem(10);
      top: rem(8);
      right: rem(8);
    }
  }
}