@use '../../styles/helpers' as *;

.footer {
  padding: rem(116) 0 rem(58);
  background-color: var(--color-bg-footer);

  @include mobile {
    padding: rem(32) 0 rem(32);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: rem(112);

    @include mobile {
      gap: rem(64);
    }
  }

  &__main {
    display: flex;
    align-items: start;
    //grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: rem(80);
    //grid-template-areas: 'logo menu-1 menu-2 button';

    @include laptop {
      gap: fluid(80, 32);
    }

    @include mobile {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'logo button' 'menu-1 menu-2';
      row-gap: rem(64);
      column-gap: rem(0);
    }
  }

  &__logo {
    width: rem(137);
    grid-area: logo;

    @include laptop {
      width: fluid(137, 110);
    }
  }

  &__menu {
    width: fit-content;

    &:nth-of-type(1) {
      grid-area: menu-1;
    }

    &:nth-of-type(2) {
      grid-area: menu-2;

      & .footer__menu-item {
        & .button--footer-link {
          &::before {
            content: '';
            display: inline-block;
            width: rem(16);
            height: rem(16);
            flex-shrink: 0;
            background-color: currentColor;
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            -webkit-mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center;

            @include laptop {
              width: fluid(16, 14);
              height: fluid(16, 14);
            }
          }
        }

        &:nth-child(1) {
          & .button--footer-link {
            &::before {
              mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M6.48212 3.67143C6.27386 1.27455 3.77484 0.0984802 3.66908 0.0504772C3.57021 0.00397284 3.45941 -0.0108853 3.35179 0.00792906C0.466788 0.486868 0.0328377 2.16697 0.0153925 2.2368C-0.00834246 2.3341 -0.00456742 2.43608 0.0262957 2.53136C3.46736 13.2142 10.6188 15.1943 12.9696 15.8456C13.1506 15.8958 13.2999 15.9362 13.4133 15.9733C13.5427 16.0156 13.6833 16.0074 13.8069 15.9504C13.8789 15.9177 15.5776 15.1169 15.993 12.5051C16.0115 12.3911 15.9931 12.2741 15.9407 12.1712C15.9036 12.0992 15.015 10.4071 12.5509 9.80927C12.4673 9.78788 12.3797 9.78713 12.2958 9.80708C12.2118 9.82703 12.134 9.8671 12.0689 9.92382C11.2915 10.5882 10.2176 11.2963 9.75419 11.3694C6.64785 9.84964 4.91314 6.93345 4.84772 6.38033C4.80956 6.0694 5.52154 4.97733 6.34037 4.08928C6.39184 4.03339 6.43104 3.96733 6.45545 3.89537C6.47986 3.8234 6.48895 3.74712 6.48212 3.67143Z' fill='black'/%3E%3C/svg%3E");
              -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M6.48212 3.67143C6.27386 1.27455 3.77484 0.0984802 3.66908 0.0504772C3.57021 0.00397284 3.45941 -0.0108853 3.35179 0.00792906C0.466788 0.486868 0.0328377 2.16697 0.0153925 2.2368C-0.00834246 2.3341 -0.00456742 2.43608 0.0262957 2.53136C3.46736 13.2142 10.6188 15.1943 12.9696 15.8456C13.1506 15.8958 13.2999 15.9362 13.4133 15.9733C13.5427 16.0156 13.6833 16.0074 13.8069 15.9504C13.8789 15.9177 15.5776 15.1169 15.993 12.5051C16.0115 12.3911 15.9931 12.2741 15.9407 12.1712C15.9036 12.0992 15.015 10.4071 12.5509 9.80927C12.4673 9.78788 12.3797 9.78713 12.2958 9.80708C12.2118 9.82703 12.134 9.8671 12.0689 9.92382C11.2915 10.5882 10.2176 11.2963 9.75419 11.3694C6.64785 9.84964 4.91314 6.93345 4.84772 6.38033C4.80956 6.0694 5.52154 4.97733 6.34037 4.08928C6.39184 4.03339 6.43104 3.96733 6.45545 3.89537C6.47986 3.8234 6.48895 3.74712 6.48212 3.67143Z' fill='black'/%3E%3C/svg%3E");
            }
          }
        }

        &:nth-child(2) {
          & .button--footer-link {
            &::before {
              mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.0955 7.08934C5.38958 5.22448 8.24822 3.98533 9.68367 3.38416C13.7692 1.67879 14.628 1.38434 15.1801 1.37207C15.3028 1.37207 15.5727 1.39661 15.7567 1.54383C15.904 1.66652 15.9408 1.82602 15.9653 1.94871C15.9898 2.07139 16.0144 2.32904 15.9898 2.52534C15.769 4.85641 14.812 10.5123 14.3213 13.1133C14.1127 14.2175 13.7078 14.5856 13.3152 14.6224C12.4564 14.696 11.8062 14.058 10.9842 13.5182C9.68367 12.6716 8.95981 12.1441 7.69612 11.3098C6.23613 10.3528 7.18083 9.82528 8.01511 8.96647C8.23595 8.74563 12.0025 5.31036 12.0761 5.00364C12.0884 4.96683 12.0884 4.81961 12.0025 4.74599C11.9166 4.67238 11.7939 4.69692 11.6958 4.72146C11.5608 4.74599 9.49964 6.1201 5.48773 8.83151C4.89883 9.23638 4.37127 9.43268 3.89279 9.42041C3.36523 9.40814 2.35919 9.12596 1.59852 8.88058C0.67836 8.58613 -0.0577693 8.42664 0.00357478 7.91135C0.0403812 7.64143 0.408445 7.37152 1.0955 7.08934Z' fill='black'/%3E%3C/svg%3E");
              -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.0955 7.08934C5.38958 5.22448 8.24822 3.98533 9.68367 3.38416C13.7692 1.67879 14.628 1.38434 15.1801 1.37207C15.3028 1.37207 15.5727 1.39661 15.7567 1.54383C15.904 1.66652 15.9408 1.82602 15.9653 1.94871C15.9898 2.07139 16.0144 2.32904 15.9898 2.52534C15.769 4.85641 14.812 10.5123 14.3213 13.1133C14.1127 14.2175 13.7078 14.5856 13.3152 14.6224C12.4564 14.696 11.8062 14.058 10.9842 13.5182C9.68367 12.6716 8.95981 12.1441 7.69612 11.3098C6.23613 10.3528 7.18083 9.82528 8.01511 8.96647C8.23595 8.74563 12.0025 5.31036 12.0761 5.00364C12.0884 4.96683 12.0884 4.81961 12.0025 4.74599C11.9166 4.67238 11.7939 4.69692 11.6958 4.72146C11.5608 4.74599 9.49964 6.1201 5.48773 8.83151C4.89883 9.23638 4.37127 9.43268 3.89279 9.42041C3.36523 9.40814 2.35919 9.12596 1.59852 8.88058C0.67836 8.58613 -0.0577693 8.42664 0.00357478 7.91135C0.0403812 7.64143 0.408445 7.37152 1.0955 7.08934Z' fill='black'/%3E%3C/svg%3E");
            }
          }
        }

        &:nth-child(3) {
          & .button--footer-link {
            &::before {
              mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M5.5944 4.25422C5.73612 4.25996 5.8931 4.26669 6.04229 4.59807C6.21921 4.99175 6.60596 5.97632 6.65578 6.07584C6.70558 6.17534 6.73864 6.29182 6.67238 6.42445C6.60611 6.55709 6.57331 6.64018 6.47359 6.75636C6.37388 6.87253 6.26421 7.01576 6.17489 7.10497C6.07506 7.20415 5.97107 7.312 6.08734 7.5111C6.20362 7.71022 6.60311 8.36176 7.19482 8.88938C7.95533 9.5675 8.59634 9.77777 8.79556 9.87727C8.99478 9.97677 9.11068 9.96011 9.22686 9.82726C9.34304 9.6944 9.72409 9.24625 9.85694 9.04703C9.98977 8.84785 10.1224 8.88085 10.3048 8.94732C10.4873 9.0138 11.4658 9.49534 11.665 9.59495C11.8642 9.69454 11.9969 9.74402 12.0466 9.82726C12.0963 9.91052 12.0963 10.3088 11.9305 10.7736C11.7648 11.2384 10.9522 11.6868 10.587 11.7199C10.2219 11.7531 9.87975 11.8849 8.19836 11.2218C6.17508 10.4239 4.89749 8.35017 4.7981 8.21721C4.69866 8.0842 3.98541 7.13793 3.98541 6.15863C3.98541 5.17931 4.49977 4.6978 4.6821 4.49858C4.86443 4.29936 5.08016 4.24957 5.2129 4.24957L5.5944 4.25422Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.03352 -0.0361328C10.1644 -0.0350419 12.1646 0.794256 13.6688 2.29958C15.1731 3.80491 16.0008 5.80583 16 7.93384C15.998 12.3246 12.424 15.8977 8.03341 15.8977H8.02992C6.69675 15.8971 5.38672 15.5627 4.2231 14.9282L0 16.0356L1.13032 11.9089C0.432052 10.6983 0.0652441 9.32494 0.066931 7.92739C0.0687829 3.53624 3.64226 -0.0361328 8.03352 -0.0361328ZM8.03584 1.30915C4.38347 1.30917 1.41321 4.27836 1.4119 7.92792C1.4101 9.17413 1.76101 10.3955 2.42411 11.4506L2.58165 11.701L1.91266 14.1435L4.41882 13.4864L4.66075 13.6297C5.67711 14.2329 6.84247 14.5521 8.03087 14.5527H8.03341C11.683 14.5527 14.6532 11.5831 14.6546 7.93331C14.6574 7.06341 14.4876 6.20157 14.155 5.39776C13.8224 4.59393 13.3337 3.86402 12.7171 3.25036C12.104 2.63333 11.3745 2.14408 10.571 1.81087C9.76744 1.47765 8.90573 1.3071 8.03584 1.30915Z' fill='black'/%3E%3C/svg%3E");
              -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M5.5944 4.25422C5.73612 4.25996 5.8931 4.26669 6.04229 4.59807C6.21921 4.99175 6.60596 5.97632 6.65578 6.07584C6.70558 6.17534 6.73864 6.29182 6.67238 6.42445C6.60611 6.55709 6.57331 6.64018 6.47359 6.75636C6.37388 6.87253 6.26421 7.01576 6.17489 7.10497C6.07506 7.20415 5.97107 7.312 6.08734 7.5111C6.20362 7.71022 6.60311 8.36176 7.19482 8.88938C7.95533 9.5675 8.59634 9.77777 8.79556 9.87727C8.99478 9.97677 9.11068 9.96011 9.22686 9.82726C9.34304 9.6944 9.72409 9.24625 9.85694 9.04703C9.98977 8.84785 10.1224 8.88085 10.3048 8.94732C10.4873 9.0138 11.4658 9.49534 11.665 9.59495C11.8642 9.69454 11.9969 9.74402 12.0466 9.82726C12.0963 9.91052 12.0963 10.3088 11.9305 10.7736C11.7648 11.2384 10.9522 11.6868 10.587 11.7199C10.2219 11.7531 9.87975 11.8849 8.19836 11.2218C6.17508 10.4239 4.89749 8.35017 4.7981 8.21721C4.69866 8.0842 3.98541 7.13793 3.98541 6.15863C3.98541 5.17931 4.49977 4.6978 4.6821 4.49858C4.86443 4.29936 5.08016 4.24957 5.2129 4.24957L5.5944 4.25422Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.03352 -0.0361328C10.1644 -0.0350419 12.1646 0.794256 13.6688 2.29958C15.1731 3.80491 16.0008 5.80583 16 7.93384C15.998 12.3246 12.424 15.8977 8.03341 15.8977H8.02992C6.69675 15.8971 5.38672 15.5627 4.2231 14.9282L0 16.0356L1.13032 11.9089C0.432052 10.6983 0.0652441 9.32494 0.066931 7.92739C0.0687829 3.53624 3.64226 -0.0361328 8.03352 -0.0361328ZM8.03584 1.30915C4.38347 1.30917 1.41321 4.27836 1.4119 7.92792C1.4101 9.17413 1.76101 10.3955 2.42411 11.4506L2.58165 11.701L1.91266 14.1435L4.41882 13.4864L4.66075 13.6297C5.67711 14.2329 6.84247 14.5521 8.03087 14.5527H8.03341C11.683 14.5527 14.6532 11.5831 14.6546 7.93331C14.6574 7.06341 14.4876 6.20157 14.155 5.39776C13.8224 4.59393 13.3337 3.86402 12.7171 3.25036C12.104 2.63333 11.3745 2.14408 10.571 1.81087C9.76744 1.47765 8.90573 1.3071 8.03584 1.30915Z' fill='black'/%3E%3C/svg%3E");
            }
          }
        }
      }
    }

    &-head {
      font-family: var(--font-secondary);
      font-size: rem(16);
      font-weight: 500;
      color: var(--text-color-white);
      margin-bottom: rem(6);

      @include laptop {
        @include fluid-text(16, 14);
      }
    }

    &-list {
      //display: flex;
      //flex-direction: column;
    }

    &-item {
    }
  }

  & .button--tertiary {
    color: var(--text-color-secondary);
    grid-area: button;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
  }

  &__extra {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(48);
    grid-template-areas: 'oferta .'
                         'policy copyright';

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: rem(32);
    }
  }

  &__oferta {
    grid-area: oferta;
    font-size: rem(12);
    color: var(--text-color-footer);
    opacity: 0.5;
    font-weight: 300;
    max-width: rem(790);

    @include laptop {
      @include fluid-text(12, 10);
    }
  }

  &__policy {
    grid-area: policy;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: rem(4);

    &-link {
      font-size: rem(12);
      color: var(--text-color-footer);
      font-weight: 300;
      opacity: 0.75;

      @include hover {
        opacity: 1;
      }
    }
  }

  &__copyright {
    grid-area: copyright;
    color: var(--text-color-white);
    align-self: end;
  }
}