@use '../../styles/helpers' as *;

.popup {
  &.cookie {
    position: fixed;
    bottom: rem(12);
    left: rem(12);
    right: rem(12);
    max-width: rem(450);
    background: #fff;
    box-shadow: var(--shadow-300);
    border-radius: rem(16);
    padding: rem(16);
    z-index: 1001;

    opacity: 1;
    transform: translateY(0);
    transition-duration: var(--transition-duration);

    @include mobile {
      border-radius: rem(12);
    }

    &.cookie--closing {
      opacity: 0;
      transform: translateY(rem(20));
    }

    &--appeared {
      opacity: 1;
      transform: translateY(0);
    }

    &--initial {
      opacity: 0;
      transform: translateY(rem(20));
    }
  }
}

.cookie {
  &__head {
    font-weight: 500;
    margin-bottom: rem(12);

    @include mobile {
      margin-bottom: rem(8);
    }
  }

  &__main {
    display: flex;
    align-items: center;
    gap: rem(16);

    @include mobile {
      gap: rem(8);
      align-items: end;
    }
  }

  &__text {
    flex: 1;
    font-size: rem(14);

    @include mobile {
      font-size: rem(12);
    }
  }

  &__button {
    flex-shrink: 0;
    padding: rem(8) rem(16);
    border: none;
    border-radius: rem(12);
    background-color: var(--color-button-primary);
    color: var(--text-color-white);
    cursor: pointer;

    @include hover {
      background-color: var(--color-button-primary-hover);
    }

    &:active {
      scale: 0.95;
    }
  }
}